<div class="card">
  <h2>Overview</h2>
  <div class="overview">
    <% if @accounts.any? %>
      <div class="account-section">
        <div class="account-card">
          <h3> <%= link_to "Total", accounts_path %></h3>
          <p>£<%= @total%></p>
        </div>
        <%= render "shared/account_card" %>
      </div>
      <%# <% if @expenses_by_category.any? %>
      <%# <%= pie_chart @expenses_by_category, library: { title: 'Expenses by Category' } %>
      <%# <% else %>
      <%# <p>No expenses found.</p> %>
      <%# <% end %>
      <div class="budget-section">
        <% if @budgets.any? %>
          <% @budgets.each do |budget| %>
            <h3> <%= link_to "Budgets", budget_path(budget) %></h3>
            <p>£<%= number_to_currency(budget.ammount) %></p>
          <% end %>
        <% else %>
          <h3> <%= link_to "Budgets", budget_path(current_user) %></h3>
        <% end %>
      </div>
    <% else %>
      <%= link_to 'Add account', new_account_path(current_user)%>
    <% end %>
  </div>
</div>
