
<%= simple_form_for @transaction do |f| %>

  <%= f.input :amount, as: :integer %>
  <%= f.input :transaction_type, collection: ['income', 'expense'], label: 'Select option' %>
  <%= f.input :transaction_date, as: :date %>
  <%= f.input :category_id, collection: Category.all.collect { |c| [c.name, c.id] }, label: 'Select Category', include_blank: 'Choose a category' %>
  <%= f.input :account_id, collection: Account.all.map { |account| [account.name, account.id] }, label: 'Select option'%>

  <%= f.button :submit %>
<% end %>
<% if @transaction.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
    <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
