<h1><%=@transaction.transaction_type%></h1>
<%=@transaction.amount%>
<ul>

    <li><%= @transaction.category.name %></li>

</ul>
<%= link_to 'edit transaction', edit_transaction_path(@transaction) %>
<%= link_to "delete transaction", transaction_path(@transaction), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
