<h1><%=@account.name%></h1>
<h3>Balance: £<%=@account.balance%></h3>
<%= link_to "back", accounts_path(current_user) %>
<h1>transactions</h1>
<ul>
  <% @account.transactions.each do |transaction| %>
    <li><%=transaction.transaction_type %>: <%= transaction.amount %></li>
  <%end%>
</ul>
<%= link_to 'New transaction', new_transaction_path(current_user)  %>
<%= link_to 'Edit account', edit_account_path(current_user) %>
<%= link_to 'Delete account', account_path(@account), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
